.Synonyms{
    margin: 15px 5px;
    padding: 0;
    opacity: 0.8;
}

.Synonyms li{
    display: inline-block;
    font-size: 15px;
    padding: 6px;
    line-height: 1;
    border: solid 0.5px;
    margin: 5px;
    border-radius: 8px;
}